_site/*
_site/
*/_site/*
us.tif
*/us.tif
*/.DS_Store
.DS_Store
revealjs/*
*/revealjs/*
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.swp
*/*.swp
*/.vagrant/
.vagrant/
site/content/infrastructure/notebooks/
*~
*/*~
*.*~
*/*.*~
.Rhistory
*/.Rhistory
content/infrastructure/notebooks/
content/labs/*.png
content/labs/*.gal
content/labs/*.gwt
content/labs/_map.html
conntent/infrastructure/temp_test.ipynb
content/labs/airbnb_msoas.*
